<!DOCTYPE html>
<html>
<head>
  <title>Perfil de Usuario</title>
</head>
<body>
  <div class="container mt-5">
    <div class="mt-5">
      <h1>Perfil de Usuario</h1>
      <p><strong>Nombre:</strong> <%= user.name %></p>
      <p><strong>Correo Electrónico:</strong> <%= user.email %></p>
      <h2>Historial de Reservas</h2>
      <ul class="list-group">
        <% user.reservations.forEach(reservation => { %>
          <li class="list-group-item">
            <p><strong>Destino:</strong> <%= reservation.destination %></p>
            <p><strong>Fecha:</strong> <%= reservation.date %></p>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
</html>
