<!DOCTYPE html>
<html>
<head>
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido a la Página de Inicio</h1>
      <p class="lead">Comienza tu búsqueda de cotizaciones ingresando información básica</p>
      <a class="btn btn-primary btn-lg" href="/search" role="button">Buscar Cotizaciones</a>
    </div>
  </div>
</body>
</html>
