<!DOCTYPE html>
<html>
<head>
  <title>Ayuda y Soporte</title>
</head>
<body>
  <div class="container mt-5">
    <div class="mt-5">
      <h1>Ayuda y Soporte</h1>
      <h2>Preguntas Frecuentes</h2>
      <ul class="list-group">
        <li class="list-group-item">¿Cómo buscar una cotización?</li>
        <li class="list-group-item">¿Cómo personalizar mi cotización?</li>
        <li class="list-group-item">¿Cómo confirmar mi reserva?</li>
      </ul>
      <h2>Contacto de Atención al Cliente</h2>
      <p><strong>Correo Electrónico:</strong> soporte@example.com</p>
      <p><strong>Teléfono:</strong> +123456789</p>
    </div>
  </div>
</body>
</html>
